<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工具</title>
</head>

<body>
<hr />

<form id="form1" name="form1" action="/admin/tool_create_player/" method="post">{% csrf_token %}
<p align="center"><a href="/admin/index">主页</a></p>
 <div align="center">
   <table width="879" border="1">
     <tr>
       <td colspan="4"><div align="center">创建排行榜玩家</div></td>
      </tr>
     <tr>
       <td width="163">玩家等级从</td>
        <td width="171"><label>
          <input type="text" name="levelf" />
        </label></td>
        <td width="33">到</td>
        <td width="484"><label>
          <input type="text" name="levelt" />
        </label></td>
      </tr>
     <tr>
       <td>生成数量是</td>
        <td><input type="text" name="count" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
     <tr>
       <td>主角卡抽取掉落ID</td>
        <td colspan="3"><label>
          <input type="text" name="main_card_dropid" />
        </label></td>
      </tr>
     
     
     <tr>
       <td>其它卡片抽取掉落ID</td>
        <td colspan="3"><label>
          <input type="text" name="other_card_dropid" />
        </label></td>
      </tr>
     <tr>
       <td>卡片等级范围从</td>
        <td><label>
          <input type="text" name="card_levelf" />
        </label></td>
        <td>到</td>
        <td><label>
          <input type="text" name="card_levelt" />
        </label></td>
      </tr>
     <tr>
       <td>装备强化等级范围从</td>
        <td><label>
          <input type="text" name="equip_strenght_levelf" />
        </label></td>
        <td>到</td>
        <td><label>
          <input type="text" name="equip_strenght_levelt" />
        </label></td>
      </tr>
     <tr>
       <td>技能等级范围从</td>
        <td><label>
          <input type="text" name="skill_levelf" />
        </label></td>
        <td>到</td>
        <td><label>
          <input type="text" name="skill_levelt" />
        </label></td>
      </tr>
     <tr>
       <td>宝石等级范围从</td>
        <td><label>
          <input type="text" name="stone_levelf" />
        </label></td>
        <td>到</td>
        <td><label>
          <input type="text" name="stone_levelt" />
        </label></td>
      </tr>
     <tr>
       <td>主人宠爱等级从</td>
        <td>&nbsp;</td>
        <td>到</td>
        <td>&nbsp;</td>
      </tr>
     <tr>
       <td>勋章等级</td>
        <td></td>
        <td>到</td>
        <td></td>
      </tr>
     <tr>
       <td>&nbsp;</td>
        <td><label></label></td>
        <td>&nbsp;</td>
        <td></td>
      </tr>
     <tr>
       <td colspan="4"><label>
         <div align="center">
           <input type="submit" name="Submit" value="提交" />
          </div>
        </label></td>
      </tr>
   </table>
 </div>
</form>
<hr />
<form id="form2" name="form2" action="/admin/tool_ladder_remove/" method="post">
  <div align="center">{% csrf_token %}
    <input id="optid" name="optid" type="hidden" />
    <input id="operator" name="operator" type="hidden" />

    <script type="text/javascript">
function setOperator(opt, v){
//JS函数
document.getElementById("operator").value = opt;
document.getElementById("optid").value = v;
}
    </script>
    <table width="877" border="1">
      <tr>
        <td colspan="6"><div align="center">排行榜</div></td>
      </tr>
      <tr>
        <td width="158">排名</td>
      <td width="115">roleid</td>
      <td width="150">玩家名</td>
      <td width="116">等级</td>   
      <td width="130">avatar_id</td>
      <td width="168"></td>    
    </tr>
      {% for item in ladder %}
      <tr>
        <td width="158">{{ item.position }}</td>
	  <td width="115">{{ item.roleid }}</td>
      <td width="150">{{ item.name }}</td>
      <td width="116">{{ item.level }}</td> 
      <td width="130">{{ item.avatar_id }}</td>
      <td width="168"><input name="remove" type="submit" value="删除" onclick="setOperator('remove', '{{ item.roleid }}');this.form.submit()"/></td>    
    </tr>
      {% endfor %}
    </table>
  </div>
</form>

</body>
</html>
