<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工具</title>
</head>

<body>
<hr />

<form id="form1" name="form1" action="/admin/tool_create_player/" method="post">{% csrf_token %}
<p align="center"><a href="/admin/index">主页</a></p>
 <div align="center">
   <table width="879" border="1">
     <tr>
       <td colspan="4"><div align="center">创建排行榜玩家</div></td>
      </tr>
     <tr>
       <td>玩家名字</td>
       <td><label>
         <input type="text" name="player_name" />
       </label></td>
       <td>&nbsp;</td>
       <td>&nbsp;</td>
     </tr>
     <tr>
       <td width="163">玩家等级从</td>
        <td width="171"><label>
          <input name="levelf" type="text" value="30" />
        </label></td>
        <td width="33">到</td>
        <td width="484"><label>
          <input name="levelt" type="text" value="30" />
        </label></td>
      </tr>
     <tr>
       <td>随机主角卡</td>
        <td><input name="protagonist_card" type="text" value="zhujuecard" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
     <tr>
       <td>主角卡外上阵卡牌库</td>
        <td colspan="3"><label>
          <input name="other_card" type="text" value="jiqirencard" />
        </label></td>
      </tr>
     
     
     <tr>
       <td>顺序和数量</td>
        <td colspan="3"><label>
          <input type="text" name="card_count" />
        </label></td>
      </tr>
     <tr>
       <td>卡牌等级范围从</td>
       <td><label>
         <input name="card_levelf" type="text" value="30" />
       </label></td>
       <td>到</td>
       <td><label>
         <input name="card_levelt" type="text" value="30" />
       </label></td>
     </tr>
     <tr>
       <td>攻击装随机库</td>
       <td><label>
         <input name="attack_equipment" type="text" value="jiqireneqatk" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>hp装随机库</td>
       <td><label>
         <input name="hp_equipment" type="text" value="jiqireneqhp" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>物穿随机库</td>
       <td><label>
         <input name="defence_equipment" type="text" value="jiqireneqpa" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>物防随机库</td>
       <td><label>
         <input name="pd_equipment" type="text" value="jiqireneqpd" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>魔防随机库</td>
       <td><label>
         <input name="md_equipment" type="text" value="jiqireneqmd" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>装备强化等级范围</td>
       <td><label>
         <input name="equipment_strength_levelf" type="text" value="30" />
       </label></td>
       <td>到</td>
       <td><input name="equipment_strength_levelt" type="text" value="30" /></td>
     </tr>
     <tr>
       <td>火系技能库抽取</td>
       <td><label>
         <input name="fire_skill" type="text" value="jiqirenskhuo" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>水系技能库</td>
       <td><label>
         <input name="water_skill" type="text" value="jiqirenskshui" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>毒系技能库</td>
       <td><label>
         <input name="poison_skill" type="text" value="jiqirenskdu" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>超能力系技能库</td>
       <td><label>
         <input name="super_skill" type="text" value="jiqirenskchao" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>草系技能库</td>
       <td><label>
         <input name="straw_skill" type="text" value="jiqirenskcao" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>普通系技能库</td>
       <td><label>
         <input name="general_skill" type="text" value="jiqirenskpu" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>技能等级从</td>
       <td><label>
         <input name="skill_levelf" type="text" value="30" />
       </label></td>
       <td>到</td>
       <td><label>
         <input name="skill_levelt" type="text" value="30" />
       </label></td>
     </tr>
     <tr>
       <td>拥有宝石</td>
       <td><label>
         <input name="stone" type="text" value="jiqirenbs" />
       </label></td>
       <td>&nbsp;</td>
       <td></td>
     </tr>
     <tr>
       <td>宝石等级范围</td>
       <td><label>
         <input name="stone_levelf" type="text" value="3" />
       </label></td>
       <td>到</td>
       <td><label>
         <input name="stone_levelt" type="text" value="3" />
       </label></td>
     </tr>
     <tr>
       <td>主人宠爱等级</td>
       <td><label>
         <input name="practicef" type="text" value="3" />
       </label></td>
       <td>到</td>
       <td><label>
         <input name="practicet" type="text" value="3" />
       </label></td>
     </tr>
     <tr>
       <td>力量范围从</td>
       <td><label>
         <input name="strengthenf" type="text" value="60" />
       </label></td>
       <td>到</td>
       <td><input name="strengthent" type="text" value="60" /></td>
     </tr>
     <tr>
       <td>智慧范围从</td>
       <td><label>
         <input name="intelligencef" type="text" value="60" />
       </label></td>
       <td>到</td>
       <td><input name="intelligencet" type="text" value="60" /></td>
     </tr>
     <tr>
       <td>技巧范围从</td>
       <td><label>
         <input name="artificef" type="text" value="60" />
       </label></td>
       <td>到</td>
       <td><input name="artificet" type="text" value="60" /></td>
     </tr>
     <tr>
       <td>勋章等级范围从</td>
       <td><label>
         <input name="medal_levelf" type="text" value="2" />
       </label></td>
       <td>到</td>
       <td><input name="medal_levelt" type="text" value="2" /></td>
     </tr>
     <tr>
       <td colspan="4"><label>
         <div align="center">
           <input type="submit" name="Submit" value="提交" />
          </div>
        </label></td>
      </tr>
   </table>
 </div>
</form>
<hr />
<form id="form2" name="form2" action="/admin/tool_ladder_remove/" method="post">
  <div align="center">{% csrf_token %}
    <input id="optid" name="optid" type="hidden" />
    <input id="operator" name="operator" type="hidden" />

    <script type="text/javascript">
function setOperator(opt, v){
//JS函数
document.getElementById("operator").value = opt;
document.getElementById("optid").value = v;
}
    </script>
    <table width="877" border="1">
      <tr>
        <td colspan="6"><div align="center">排行榜</div></td>
      </tr>
      <tr>
        <td width="158">排名</td>
      <td width="115">roleid</td>
      <td width="150">玩家名</td>
      <td width="116">等级</td>   
      <td width="130">avatar_id</td>
      <td width="168"></td>    
    </tr>
      {% for item in ladder %}
      <tr>
        <td width="158">{{ item.position }}</td>
	  <td width="115">{{ item.roleid }}</td>
      <td width="150">{{ item.name }}</td>
      <td width="116">{{ item.level }}</td> 
      <td width="130">{{ item.avatar_id }}</td>
      <td width="168"><input name="remove" type="submit" value="删除" onclick="setOperator('remove', '{{ item.roleid }}');this.form.submit()"/></td>    
    </tr>
      {% endfor %}
    </table>
  </div>
</form>

</body>
</html>
