<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>{% csrf_token %}
</head>

<body>
<p align="center"><a href="/admin/game/">游戏设定</a></p>
<p align="center"><a href="/admin/dungeon/">关卡设定</a></p>
<p align="center"><a href="/admin/level/">等级设定</a></p>
<p align="center"><a href="/admin/monster/">怪物设定</a></p>
<p align="center"><a href="/admin/skill/">技能设定</a></p>
<p align="center"><a href="/admin/skill_level/">技能等级设定</a></p>
<p align="center"><a href="/admin/pet/">宠物设定</a></p>
<p align="center"><a href="/admin/pet_level/">宠物等级设定</a></p>
<p align="center"><a href="/admin/prompt/">小帖士</a></p>
<p align="center"><a href="/admin/garcha/">抽奖英雄</a></p>
<p align="center"><a href="/admin/equipment/">装备设定</a></p>
<p align="center"><a href="/admin/strength_probability"/>装备强化成功率设定</a></p>
<p align="center"><a href="/admin/strength_price"/>装备强化价格设定</a></p>
<p align="center"><a href="/admin/luckycat_level"/>招财猫等级设定</a></p>
<p align="center"><a href="/admin/luckycat_bless"/>招财猫祝福设定</a></p>
<p align="center"><a href="/admin/luckycat_fortune"/>招财猫财运设定</a></p>
<p align="center"><a href="/admin/luck"/>缘设定</a></p>
<p align="center"><a href="/admin/language"/>语言设定</a></p>
<p align="center"><a href="/admin/stone"/>宝石属性设定</a></p>
<p align="center"><a href="/admin/stone_probability"/>宝石概率设定</a></p>
<p align="center"><a href="/admin/stone_level"/>宝石等级设定</a></p>
<p align="center"><a href="/admin/trp_price"/>培养点价格设定</a></p>
<p align="center"><a href="/admin/trp"/>培养点设定</a></p>
<p align="center"><a href="/admin/educate"/>训练设定</a></p>
<p align="center"><a href="/admin/educate_grade"/>档次设定</a></p>
<p align="center"><a href="/admin/almanac_combination"/>图鉴组合设定</a></p>
<p align="center"><a href="/admin/reborn"/>宠物转生设定</a></p>
<p align="center"><a href="/admin/ladder_score"/>天梯分数设定</a></p>
<p align="center"><a href="/admin/tool"/>工具</a></p>
</body>
</html>
