<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>{% csrf_token %}
</head>

<body>
<p align="center"><a href="/admin/game/">游戏设定</a></p>
<p align="center"><a href="/admin/dungeon/">关卡设定</a></p>
<p align="center"><a href="/admin/level/">等级设定</a></p>
<p align="center"><a href="/admin/monster/">怪物设定</a></p>
<p align="center"><a href="/admin/card/">卡牌设定</a></p>
<p align="center"><a href="/admin/skill/">技能设定</a></p>
<p align="center"><a href="/admin/pet_level/">宠物等级设定</a></p>
</body>
</html>
