<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<form id="form1" name="form1" action="/admin/gm_tool_profile_find/" method="post">{% csrf_token %}
<p align="center"><a href="/admin/index">主页</a></p>
<div align="center">
 <input id="findopt" name="findopt" type="hidden" />
  <script language="javascript" type="text/javascript">
  function setFindOperator(opt)
  {
	document.getElementById("findopt").value = opt;
	//document.getElementById("optvalue").value = value;
  }
  </script>
  <table width="887" border="1">
    <tr>
      <td width="204">roleid
        <label>
        <input type="text" name="tfRoleid" />
      </label></td>
      <td width="42"><label>
        <input type="submit" name="Submit" value="查询" onclick="setFindOperator('roleidFind')"/>
      </label></td>
      <td width="221"><label>帐号名
          <input type="text" name="tfAccountName" />
      </label></td>
      <td width="142"><label>
        <input type="submit" name="Submit9" value="查询" onclick="setFindOperator('accountFind')"/>
      </label></td>
      <td width="244">&nbsp;</td>
    </tr>
  </table>
  </div>
</form>
  {% if roleid %}
  <form id="form2" name="form2" action="/admin/gm_tool_set_profile/" method="post">{% csrf_token %}
  <div align="center">
  <p>&nbsp;</p>
   <input id="operator" name="operator" type="hidden" />
   <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
  <script language="javascript" type="text/javascript">
  function setOperator(opt)
  {
	document.getElementById("operator").value = opt;
	//document.getElementById("optvalue").value = value;
  }
  </script>
  <table width="1129" border="1">
    <tr>
      <td width="175">帐号名</td>
      <td width="179">{{ account_name }} </td>
      <td width="206">玩家名称</td>
      <td width="187">{{ nickname }} </td>
      <td width="171">OpenID</td>
      <td width="171">{{ openid }} </td>
      <td width="171">roleid</td>
      <td width="171">{{ roleid }}</td>
    </tr>
    <tr>
      <td><input type="submit" name="Submit224" value="删除角色" onclick="setOperator('delete_role');" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>等级</td>
      <td>{{ level }}</td>
      <td>经验</td>
      <td>{{ exp }}</td>
      <td><label>
        <input name="tfExp" type="text" size="8" />
        <input type="submit" name="Submit2" value="增加经验" onclick="setOperator('exp');" />
      </label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>金币</td>
      <td><input name="tfGold" type="text" value="{{ gold }}" size="8" />
        <input type="submit" name="Submit22" value="设置金币" onclick="setOperator('gold');" /></td>
      <td>钻石</td>
      <td><input name="tfGem" type="text" value="{{ gem }}" size="8" />
        <input type="submit" name="Submit222" value="设置钻石" onclick="setOperator('gem');" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>体力</td>
      <td><input name="tfStamina" type="text" value="{{ stamina }}" size="8" />
        <input type="submit" name="Submit223" value="设置体力" onclick="setOperator('stamina');" /></td>
      <td>培养点</td>
      <td><input name="tfTrp" type="text" value="{{ trp }}" size="8" />
        <input type="submit" name="Submit2222" value="设置培养点" onclick="setOperator('trp');" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>连续登陆次数</td>
      <td><input name="tfLoginCount" type="text" value="{{ login_count }}" size="8" />
        <input type="submit" name="Submit2232" value="设置次数" onclick="setOperator('login_count');" /></td>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit8" value="重置登奖励" onclick="setOperator('reset_login')"/></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
</form>
{% endif %}
<hr />
 {% if roleid %}
  <form id="form3" name="form3" action="/admin/gm_tool_set_card/" method="post">
    <div align="center">{% csrf_token %}
      <input id="petopt" name="petopt" type="hidden" />
	  <input id="petid" name="petid" type="hidden" />
      <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
      <script language="javascript" type="text/javascript">
  function setPetOpt(opt, petid)
  {
	document.getElementById("petopt").value = opt;
	document.getElementById("petid").value = petid;

  }
      </script>
      <table width="658" border="1">
        <tr>
          <td colspan="4">宠物</td>
    </tr>
        <tr>
          <td colspan="4">
            <select name="petSelect">       
	  {% for petid, pet in petConf.items %}
        <option value="{{ petid }}"> {{ pet.name }}</option>        
	  {% endfor %}      
      </select>
            <input type="submit" name="Submit3" value="添加" onclick="setPetOpt('add', '0')" />          </td>
    </tr>
        <tr>
          <td width="33">id</td>
      <td width="33">名称</td>
      <td width="33">等级</td>
      <td>&nbsp;</td>
    </tr>
        {% for pet in petList %}
        <tr>    
          <td>{{ pet.id }}</td>
      <td>  </td>
      <td>{{ pet.level }}</td>
      <td><label>
        <input type="submit" name="Submit7" value="删除" onclick="setPetOpt('remove', '{{ pet.id }}')"/>
      </label></td>
    </tr>
        {% endfor %}
      </table>
    </div>
    <p>&nbsp;</p>
</form>

  <hr />
  {% endif %}
  {% if roleid %}
  <form id="form4" name="form4" action="/admin/gm_tool_set_stone/" method="post">{% csrf_token %}
    <div align="center">
	    <input id="stoneopt" name="stoneopt" type="hidden" />
		<input id="stoneid" name="stoneid" type="hidden" />
      <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
      <script language="javascript" type="text/javascript">
  function setStoneOpt(opt, stoneid)
  {
	document.getElementById("stoneopt").value = opt;
	document.getElementById("stoneid").value = stoneid;
  }
      </script>
      <table width="666" border="1">
        <tr>
          <td colspan="5"><div align="center">宝石</div></td>
      </tr>
        <tr>
          <td colspan="5"><label>
            <select name="stoneSelect">
				{% for stoneid, stone in stoneConf.items %}
        		<option value="{{ stoneid }}"> {{ stone.name }}</option>        
				{% endfor %}      

            </select>
          </label>
            <label>
            <input type="submit" name="Submit4" value="添加" onclick="setStoneOpt('add', '0')" />
          </label></td>
      </tr>
        <tr>
          <td width="73">id</td>
      <td width="102">名称</td>
      <td width="151">等级</td>
      <td width="312">&nbsp;</td>
    </tr>
	{% for st in stoneList %}
        <tr>
       <td>{{ st.id }}</td>
      <td>&nbsp;</td>
      <td>{{ st.level }}</td>
      <td><input type="submit" name="Submit72" value="删除" onclick="setStoneOpt('remove', '{{ st.id }}')"/></td>  
    </tr>
	{% endfor %}
     
      </table>
    </div>
  </form>
  {% endif %}
    {% if roleid %}
 <hr />
    <form id="form5" name="form5" action="/admin/gm_tool_set_equipment/" method="post">{% csrf_token %}
  <div align="center">
	  <input id="equipmentopt" name="equipmentopt" type="hidden" />
	  <input id="equipmentid" name="equipmentid" type="hidden" />
      <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
      <script language="javascript" type="text/javascript">
  function setEquipmentOpt(opt, equipmentid)
  {
	document.getElementById("equipmentopt").value = opt;
	document.getElementById("equipmentid").value = equipmentid;
	
	//document.getElementById("optvalue").value = value;
  }
      </script>
	  
	  <table width="676" border="1">
        <tr>
          <td colspan="4">装备</td>
        </tr>
        <tr>
          <td colspan="4">
            <select name="equipmentSelect">
				{% for equipmentid, equipment in equipmentConf.items %}
        		<option value="{{ equipmentid }}"> {{ equipment.name }}</option>        
				{% endfor %}
			</select>
            <input type="submit" name="Submit5" value="添加" onclick="setEquipmentOpt('add', '0')"/>		  </td>
        </tr>
       {% for eq in equipmentList %}
        <tr>
       <td>{{ eq.id }}</td>
      <td>&nbsp;</td>
      <td>{% if dq.level %} {{ eq.level }} {% endif %}</td>
      <td><input type="submit" name="Submit722" value="删除" onclick="setEquipmentOpt('remove', '{{ eq.id }}')"/></td>  
   	 </tr>
	{% endfor %}       
      </table>
  </div>
	</form>
	{% endif %}
	{% if roleid %}
	<hr />
	  
	   <form id="form6" name="form6" action="/admin/gm_tool_set_skill/" method="post">{% csrf_token %}
  <div align="center">
	    <input id="skillopt" name="skillopt" type="hidden" />
	    <input id="skillid" name="skillid" type="hidden" />
      <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
      <script language="javascript" type="text/javascript">
  function setSkillOpt(opt, skillid)
  {
	document.getElementById("skillopt").value = opt;
	document.getElementById("skillid").value = skillid;
  }
      </script>
	  
	  <table width="699" border="1">
        <tr>
          <td colspan="5">技能</td>
        </tr>
        <tr>
          <td colspan="5">
            <select name="skillSelect">
				{% for skillid, skill in skillConf.items %}
        		<option value="{{ skillid }}"> {{ skill.name }}</option>        
				{% endfor %}
            </select>
			<input type="submit" name="Submit6" value="添加" onclick="setSkillOpt('add', '0')" /></td>
        </tr>
        <tr>
          <td width="76">id</td>
          <td width="74">名称</td>
          <td width="100">等级</td>
          <td width="421" colspan="2">&nbsp;</td>
        </tr>
          {% for skill in skillList %}
        <tr>
       <td>{{ skill.id }}</td>
      <td>&nbsp;</td>
      <td>{{ skill.level }}</td>
      <td><input type="submit" name="Submit7222" value="删除" onclick="setSkillOpt('remove', '{{ skill.id }}')"/></td>  
   	 </tr>
	{% endfor %}       
       
      </table>
  </div>
	  </form>
  {% endif %}
  {% if roleid %}
	<hr />
	  
	   <form id="form7" name="form7" action="/admin/gm_tool_set_item/" method="post">{% csrf_token %}
  <div align="center">
	    <input id="itemopt" name="itemopt" type="hidden" />
	    <input id="itemid" name="itemid" type="hidden" />
      <input id="roleid" name="roleid" type="hidden" value="{{ roleid }}" />
      <script language="javascript" type="text/javascript">
  function setItemOpt(opt, itemid)
  {
	document.getElementById("itemopt").value = opt;
	document.getElementById("itemid").value = itemid;
  }
      </script>
	  </div>
	  <div align="center">
	    <table width="700" border="1">
	      <tr>
	        <td colspan="4"><div align="center">物品</div></td>
      </tr>
	      <tr>
	        <td colspan="4"><label>
	          <select name="itemSelect">
			  {% for itemid, item in itemConf.items %}
        		<option value="{{ itemid }}"> {{ item.name }}</option>        
				{% endfor %}
            </select>
	          <input type="submit" name="Submit62" value="添加" onclick="setItemOpt('add', '0')" />
	        </label></td>
      </tr>
	      <tr>
	        <td width="149">id</td>
      <td width="104">名称</td>
      <td width="173">个数</td>
      <td width="246">&nbsp;</td>
    </tr>
	{% for it in itemList %}
	      <tr>
	        <td>{{ it.id }}</td>
      <td>&nbsp;</td>
      <td>{{ it.count }} </td>
      <td><input type="submit" name="Submit72222" value="删除" onclick="setItemOpt('remove', '{{ it.id }}')"/></td>
    </tr>
	{% endfor %}
        </table>
	    </div>
	   </form>
	    {% endif %}
</body>
</html>
