<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工具</title>
</head>

<body>

<form action="" method="get">
 <table width="879" border="1">
  <tr>
    <td colspan="4"><div align="center">创建离线玩家</div></td>
    </tr>
  <tr>
    <td width="146">玩家等级从</td>
    <td width="172"><label>
      <input type="text" name="textfield" />
    </label></td>
    <td width="34">到</td>
    <td width="499"><label>
      <input type="text" name="textfield2" />
    </label></td>
  </tr>
  <tr>
    <td>生成数量是</td>
    <td><input type="text" name="textfield3" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>主角卡从这里抽取</td>
    <td colspan="3" rowspan="2">
      <textarea name="textarea" cols="100" rows="4"></textarea>    </td>
    </tr>
  <tr>
    <td>(每个卡片ID用英文逗号隔开)</td>
    </tr>
  
  <tr>
    <td>其它卡片从这里抽取</td>
    <td colspan="3">
      <textarea name="textarea2" cols="100" rows="4"></textarea>
    </td>
    </tr>
  <tr>
    <td>卡片等级范围从</td>
    <td><label>
      <input type="text" name="textfield4" />
    </label></td>
    <td>到</td>
    <td><label>
      <input type="text" name="textfield5" />
    </label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</form>

</body>
</html>
